<div class="content page-home clearfix" >
	<div class="container intro-container">
		<div class="col-md-4">
			<img src="../images/profile.png" class="profile-pic">
		</div>

		<div class="col-md-8 welcome-text">
			<h2>Craft UI To Amaze</h2>
			<p>Welcome to Scripters Square.</p>
			<p>I am Vishal Lad. I am Pune, India based Full-Stack JavaScript developer who enjoys creating RIA using HTML5, CSS3 and JavaScript.
			</p>
			<p>Passionate about AngularJS, BackboneJS, Responsive Web Design.
			</p>
		</div>
	</div>
</div>
