<section id="cd-timeline" class="cd-container cssanimations">
	<div class="cd-timeline-block" ng-repeat="item in workInfo">
		<div class="cd-timeline-img cd-picture">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture"> 
			<!-- <img src="../images/code.png" alt="Picture"> -->
		</div> 

		<div class="cd-timeline-content">
			<h2>{{item.projectname}}-({{item.employer}})</h2>
			<p>{{item.aboutproject}}</p>
			<p>Technologies: </p><p> {{item.appstack}}</p>
			<span class="cd-date">{{item.duration}}</span>
			
		</div> 
	</div> 
</section> 