$font: JosefinSlab-Regular, Lato, Helvetica, Arial, sans-serif;

$header-font-size-1: 1.5em;

$bg-color-body:rgba(229,226,211,1); 

$header-bg: rgba(165,42,42,1);

$hero-color:#E8634E; 

$hero-color-rgb: rgb(239,99,78);

$font-header-weight: 800;

$font-color-primary: #E8634E;

$font-color-secondary: #a55400;

